In [50]:
from tsdb_client import TSDBClient
import pandas as pd
import trading_calendars as tc
import pytz
xtai = tc.get_calendar("XTAI")
from datetime import datetime

In [23]:
cli = TSDBClient(
    host="128.110.25.99",
    port=5432,
    user="chiubj",
    password="bunnygood",
    db="accountdb"
)

In [27]:
strategy_df = cli.execute_query('''
SELECT * FROM dealer.strategy
''', 
    out_type='df')

In [87]:
trade_df = cli.execute_query('''
    select 
        t_st.name as 策略, 
        t_pos.code as 代碼,
        t_pos.position as 部位,
        t_pos.avg_price as 成本價,
        t_quote.close as 收盤價,
        (position * (close - avg_price))*1000 as 損益, 
        (close / avg_price - 1) * 100 as "損益(%)",
        t_pos.trade_date

    from (
        select 
            strategy, 
            code,
            trade_date,
            sum((case when action = 'B' then 1 else -1 end) * qty) as position,
            sum(price*qty) / sum(qty) as avg_price
        from dealer.trades
        group by strategy, code, trade_date
    )t_pos
left join public.quote_snapshots t_quote on t_pos.code = t_quote.code
left join dealer.strategy t_st on t_pos.strategy = t_st.id 

order by t_pos.strategy, t_pos.code
''', 
    out_type='df')

In [88]:
status_list = []

for i in range(len(trade_df)):
    if date(datetime.now().year, datetime.now().month, datetime.now().day) == date(trade_df.iloc[i]['trade_date'].year, trade_df.iloc[i]['trade_date'].month, trade_df.iloc[i]['trade_date'].day):
        strategy_id = int(strategy_df[strategy_df['name'] == trade_df.iloc[i]['策略']]['id'])
        holding_period = int(strategy_df[strategy_df['name'] == trade_df.iloc[i]['策略']]['holding_period'])
        in_date = trade_df.iloc[i]['trade_date']
        out_date = datetime.date(xtai.sessions_window(pd.Timestamp(in_date.strftime("%Y-%m-%d")), holding_period)[-1])
        
        status_list.append([strategy_id, 'S', trade_df.iloc[i]['代碼'], trade_df.iloc[i]['成本價'], trade_df.iloc[i]['部位'], in_date, out_date])

In [90]:
cli.execute_values_df(df = pd.DataFrame(status_list, columns=['strategy', 'security_type', 'code', 'cost', 'qty', 'in_date', 'out_date']), table = 'dealer.status')

In [111]:

cli.execute_query(f'''
SELECT * FROM dealer.status where out_date = '{datetime.now().strftime("%Y-%m-%d")}'
''', out_type='df')

Empty DataFrame
Columns: [strategy, security_type, code, cost, qty, in_date, out_date]
Index: []

In [113]:

cur_status = cli.execute_query(f'''
SELECT * FROM dealer.status where out_date = '2023-05-23'
''', out_type='df')

In [117]:

counter = 1
sell_signal = []

for index, row in cur_status.iterrows():
    
    if row.security_type == 'S': security_type = 'Stock' 
    if row.security_type == 'F': security_type = 'Futures'
    action = 'B' if row.qty > 0 else 'S'
    sell_signal.append([f'N{counter}', security_type, str(datetime.datetime.now().timestamp()), row.code, 'ROD', action, abs(row.qty)])
    counter += 1

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [107]:
datetime.now().strftime("%Y-%m-%d")

'2023-05-12'

In [100]:
date(2023,5,23)

datetime.date(2023, 5, 23)

In [105]:

cli.execute_query(f'''
SELECT * FROM dealer.status
''', 
    out_type='df')

   strategy security_type  code    cost  qty     in_date    out_date
0         1             S  1504   48.70   13  2023-05-09  2023-05-23
1         1             S  2412  126.50    5  2023-05-05  2023-05-19
2         1             S  3706   28.25   20  2023-05-11  2023-05-25
3         1             S  6414  257.50    2  2023-05-05  2023-05-19
4         2             S  3479  119.00    2  2023-05-09  2023-05-23
5         1             S  2353   29.60   23  2023-05-12  2023-05-26

In [96]:

date(datetime.now().year, datetime.now().month, datetime.now().day)

datetime.date(2023, 5, 12)

In [30]:
index = 0
strategy_name = strategy_df['name'].iloc[index]

In [32]:

buy_log = open(f"print/{strategy_name}/Buy.log", "r+")

In [5]:
strategy_name = '法說會前主力蠢蠢欲動'

In [8]:
status_df = pd.read_csv(f'status/strategies/{strategy_name}.txt', sep = ' ', header =None)

EmptyDataError: No columns to parse from file